.project-card-parent {
  border-radius: 10px;
  height: 350px;
  width: 250px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.project-image {
  height: 50%;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.project-title {
  font-size: 150%;
  font-weight: bold;
}

.project-description {
  font-size: 100%;
}

.project-card-parent:hover {
  height: 400px;
  width: 300px;
}
