.project-card-parent {
  background-color: blanchedalmond;
  border-radius: 10px;
  height: 350px;
  width: 250px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  /* color: red; */
}
.project-image {
  height: 50%;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.project-title {
  font-size: 150%;
  font-weight: bold;
  /* color: yellow; */
}

.project-description {
  font-size: 100%;
}

.project-card-parent:hover {
  height: 400px;
  width: 300px;
}

/* .project-title:hover {
  font-size: 30px;
  font-weight: bold;
  /* color: yellow; */
/* } */

/* .project-description:hover {
  font-size: 16px; */
/* } */
