.portfolio{
    /* height: 90vh; */
    width: 100%;
    background-color: bisque;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.tab-bar{
    height: 45px;
    width: 70%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.tab-bar-item{
    color: cadetblue;
    height: 45px;
    margin: auto;
    padding: auto;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.projects-container{
    /* height: 300px; */
    width: 100%;
    background-color: aliceblue;
    color: aliceblue;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;
}
.project-card{
    height: 250px;
    width: 200px;
    background-color: red;
   
    margin: 10px;
    cursor: pointer;
    transition: all 1s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.project-card:hover{
    height: 270px;
    width: 220px;
    background-color: blueviolet;
}
.project-card-image{
    height: 70%;
    width: 100%;
    background-color: rgb(144, 105, 105);
}
.project-name{
    color: #fff;
    font-size: 14px;
    margin: 0px;
}
.project-discription{
    color: #fff;
    font-size: 14px;
    margin: 0px;
}