.portfolio {
  width: 100%;
  background-color: bisque;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: var(--secondary-sky-blue-color);
  padding: 10px;
}
.title {
  font-size: 2rem;
}

.tab-bar {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 45px;
  width: 70%;
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 50px;
  border: solid 1px var(--primary-black-color);
}
.tab-bar-item {
  color: var(--primary-sky-ble-color);
  margin: auto;
  padding: auto;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-color: var(--primary-black-color);
  border-radius: 50px;
}
.selet-tab-style {
  background-color: var(--primary-black-color);
  color: var(--background-color);
  height: 45px;
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 50px;
  border: solid 1px var(--primary-black-color);
}
.projects-container {
  width: 95%;
  background-color: var(--transperent-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 10px;
  gap: 20px;
}
