.contact-us {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 10px;
  justify-content: space-evenly;
}

.padding {
  padding-top: 8px;
  padding-bottom: 8px;
}

.lets-talk-container {
  width: 40%;
  display: flex;
  flex-direction: column;
  text-align: start;
}
.lets-talk-text {
  margin: 0px;
  background-color: var(--transperent-color);
}
.form {
  background-color: var(--transperent-color);
}

.lets-talk-description {
  margin: 0px;
  font-size: 14px;
  color: blueviolet;
  background-color: var(--transperent-color);
}
.input-label {
  margin: 0px;
}

.input-text-field {
  height: 30px;
  width: 100%;
  border: none;
  border-radius: 50px;
  background-color: cornsilk;
  padding-left: 15px;
  cursor: alias;
}

.input-text-message {
  height: 70px;
  width: 100%;
  border: none;
  border-radius: 10px;
  background-color: cornsilk;
  padding-left: 15px;
  cursor: alias;
}

.hire-me {
  background-color: darkmagenta;
  color: var(--background-color);
  border-radius: 20px;
  align-items: center;
  cursor: pointer;
  box-shadow: rgb(81, 135, 192) 0px 20px 30px -10px;
}
.background {
  background-color: var(--transperent-color);
}

.hire-me:hover {
  background-color: chocolate;
  color: darkmagenta;
}

.persional-info-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contact-us-image {
  height: 70%;
  width: 70%;
}

.svg-image {
  height: 50%;
  width: 100%;
  background-color: aquamarine;
}

.location {
  display: flex;
  flex-direction: column;
  margin: 0px;
}

.location-text {
  margin: 0px;
}

@media screen and (max-width: 750px) {
  .contact-us {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--transperent-color);
  }
  .lets-talk-container {
    background-color: var(--transperent-color);
    width: 90%;
    display: flex;
    flex-direction: column;
    text-align: start;
  }
  .input-text-field {
    height: 30px;
    width: 100%;
    border: none;
    border-radius: 50px;
    background-color: cornsilk;
    padding-left: 15px;
    cursor: alias;
  }
  .input-text-message {
    height: 70px;
    width: 100%;
    border: none;
    border-radius: 10px;
    background-color: cornsilk;
    cursor: alias;
  }
  .persional-info-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    background-color: var(--transperent-color);
  }
  .contact-us-image {
    height: 80%;
    width: 80%;
    background-color: var(--transperent-color);
  }
}
