.copy-right {
    background-color: var(--secondary-black-color);
    color: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30px;
    font-size: 0.8rem;
}
